/*style by Thevarajah Thishanth
-----------------------------------------------*/

@media only screen and (max-width: 800px) {
    
    /* Force table to not be like tables anymore */
	#no-more-tables table, 
	#no-more-tables thead, 
	#no-more-tables tbody, 
	#no-more-tables th, 
	#no-more-tables td, 
	#no-more-tables tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#no-more-tables tr { border: 1px solid #ccc; }
 
	#no-more-tables td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		white-space: normal;
		text-align:left;
	}
 
	#no-more-tables td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	/*
	Label the data
	*/
	#no-more-tables td:before { content: attr(data-title); }
}

a {
	color: #3C3838;
}

a:hover {
	color : black;
	text-decoration : none;
}

.lihover:hover{
	background-color: #CCCCCC;
}

.blacks-text{
	color: black;
}

.red-background{
	background-color: #FA8072;
}

.green-background{
	background-color: #A6D435;
}

.blue-background{
	background-color: #87CEEB;
}

.yellow-background{
	background-color: #F7F73F;
}

.purple-background{
	background-color: #DDA0DD;
}

.pink-background{
	background-color: #FF82AB;
}

.orange-background{
	background-color: #FFA54F;
}

.gray-background{
	background-color: #F6F3F4;
}

.strike-text {
	 text-decoration: line-through;
}

/*style by Humain Rashid
-----------------------------------------------*/
.custom-badge{
    border-radius: 100%;
    min-height: 20px;
    min-width: 20px;
    font-weight: normal;
    font-size: 16px;
    background-color: green;
}
.my-tab div{
    padding-top: 5px;
}
.disabledTab{
    pointer-events: none;
}
.inner-table{
    margin-bottom: 0px !important;
}
.category{
    vertical-align: middle !important;
}
.module-text{
    border-bottom: 1px solid red;
}
.red{
    color: red;
}
.overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    display: none;
}

.please_wait {
    color: #fff;
    font-size: 16px;
    left: 50%;
    margin-left: -30px;
    top: 50%;
    margin-top: -37px;
    position: absolute;
}
#loader_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -16px;
    margin-top: -16px;
    z-index: 100;
    background: url(../icon/updating1.gif) no-repeat;
    height: 32px;
    width: 32px;
}

.course_td{
    width: 92%;
}

.green{
    background-color:green !important;
    border:1px solid green;
}
.pink{
    background-color: red  !important;
    border:1px solid red;
}
.gray{
    background-color:#BBBBA9 !important;
    border:1px solid #BBBBA9;
}